.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #0f172a;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.navbar-inner {
  max-width: 1400px;
  margin: auto;
  padding: 16px 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.logo img {
  width: 40px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 36px;
  list-style: none;
}

.nav-item {
  position: relative;
}


.nav-item a,
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  margin-top: 12px;

  background: #0a2540;
  padding: 1.4rem;
  min-width: 260px;
  border-radius: 14px;

  opacity: 0;
  transform: translateY(8px);
  pointer-events: none;
  transition: all 0.25s ease;

  z-index: 9999;
}


.nav-item.has-dropdown:hover .dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

}

.dropdown a {
  display: block;
  color: white;
  padding: 0.5rem 0;
}

.dropdown a:hover {
  color: #22c55e;
}

.nav-lang {
  display: flex;
  gap: 12px;
}

.nav-lang button {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.4);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-item.has-dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 14px;
}

.burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background: #0f172a;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;

    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .dropdown {
    position: static;
    background: transparent;
    padding: 0;
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }

  .dropdown a {
    color: white;
  }
}
