.members-section {
  padding: 6rem 1.5rem;
  background: #f8fafc;
  background-image: url("/images/focus.jpg");
}

.members-section h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3.5rem;
  color: #ffff;
}

.members-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));*/
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.member-card {
  background: white;
  border-radius: 18px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
  transition: all 0.4s ease;
}

.member-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 25px 50px rgba(0,0,0,0.15);
}

.member-card img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.2rem;
  border: 4px solid #2563eb;
}

.member-card h4 {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  color: #0a2540;
}

.member-card span {
  font-size: 0.95rem;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .members-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .members-grid {
    grid-template-columns: 1fr;
  }
}
